nav {
  // margin-top: 40px;
  height: 140px;
  width: 100%;
  display: flex;
  // justify-content: space-around;
  align-items: center;
  // background-color: rgba(255, 255, 255, 0.9);
  // margin-left: -10px;

  .lin {
    margin-left: 460px;

    a {
      text-decoration: none;
      font-size: 25px;
      padding: 40px;
      color: #000000;
    }

    .log {
      height: 52px;
      width: 158px;
      border-radius: 26px;
      font-size: 25px;
      border-color: #ffd972;
      background-color: #ffd972;
      color: #000000;
    }
  }

  .logo {
    margin-left: 50px;
  }
}
